.cart{
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  transition: 0.3s;
}
img{
    height: 60px;
    width: 60px;
}
.container{
    display:flex;
}